
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */
.header{
    background-image: url('images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/* common item */

.button-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
}

main{
    max-width: 1140px;
    margin: 130px auto 0;
}
/* common section title */

.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

/* common main head */

.main-head{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.main-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}


/* navigation section */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav h1{
    margin-left: 256px;
    font-weight: 800;
    font-size: 45px;
}

nav h1 span{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.button-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
}

/* banner styel */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-contant{
    max-width: 580px;
}

.banner-greetings{
    color: #474747;
    font-size: 45px;
    font-weight: 700;
}

.banner-titel{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-description{
    color: #757575;
    font-size: 18;
    font-weight: 400;
}

.banner-img{
    width: 580px;
}

/* main section */

.about{
    text-align: center;
    padding: 115px 156px 147px 156px;
    border-radius: 10px;
    background-color: rgba(248, 224, 178, 0.781);
}

.about-items{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 30px;
}

.item-titel{
    font-weight: 200;
    font-size: 20px;
}

.item-description{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
    padding: 0;
}
